h1 {
    font-size: 80px;
    color: rgb(160, 110, 0);
}

h3 {
    font-size: 50px;
    font-weight: 800;
}

.initial-link {
    font-size: 30px;
    margin-bottom: 20px;
    list-style-type: none;
}

ul.list-text {
    color: black;
    font-size: 18px;
    list-style-type: none;
    display: inline-block;
    text-align: left;
    padding: 0px;
}

ol.list-text {
    color: black;
    font-size: 18px;
    list-style-type: none;
    display: inline-block;
    text-align: left;
}

ol li {
    list-style: inside;
    list-style-type: list-item;
    margin-bottom: 15px;
}

img {
    width: 250;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 25px;
    display: inline-block;
    text-align: left;
}

body {
    font-family: Helvetica, sans-serif, "Times New Roman";
    text-align: center;
}




